body {
    background-color: antiquewhite;
    text-align: center;
}

#header {
    font-size: 50px;
    background-color: brown;
}

.bottom {
    height: 500px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: seagreen;
}

.boxes {
    height: 400px;
    width: 800px;
    background-color: salmon;
    margin-right: auto;
    margin-left: auto;
}

#input {
    background-color: blue;
    height: 250px;
    width: 350px;
    float: left;
    border: solid;
    border-color: black;
}

#output {
    background-color: blueviolet;
    height: 250px;
    width: 350px;
    float: right;
    border: solid;
    border-color: black;
}

#button {
    height: 60px;
    width: 100px;
    background-color: crimson;
    margin-right: auto;
    margin-left: auto;
    border: solid;
    border-color: black;
}